{{!< default}}

{{#post}}
<header  role='banner' class="oak-header" style="background-image: 
	{{#if image}}url({{image}})
	{{else}}
		{{#if @blog.cover}}url({{@blog.cover}})
		{{else}}none
		{{/if}}
	{{/if}}">
	<span class="oak-overlay"></span>
	<div class="oak-inner">
		<div>
			{{#if @blog.logo}}
				<a href="{{@blog.url}}"><img class="oak-header-logo" src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
			{{/if}}
			<h1 class="oak-header-title">
				<a href="{{@blog.url}}">{{@blog.title}}</a>
			</h1>
			<hr>
			<h3 class="oak-uppercase"><time datetime="{{date format="YYYY-MM-DD"}}" itemprop="datePublished"> {{date format=' MMMM'}} {{date format='DD'}}, {{date format=' YYYY'}}</time></h3>
		</div>
	</div>	
	{{> get-in-touch}}
</header>
{{/post}}


<main role="main" class="oak-main">
	{{#post}}
	<header>
		<div class="oak-inner">
			{{! Displayed on desktop }}
			<div class="oak-social-share oak-hide-on-mobile">
				<span>Share this post</span>
				{{> social-share}}
			</div>
			{{! Displayed on mobile }}	
			{{#if author.image}}
				<a href="{{author.url}}" class="oak-button oak-button-image oak-hide-on-desktop" style="background: url({{author.image}});"> &nbsp; &nbsp;</a>
			{{/if}}

			<form class="oak-post-search" role="search">
				<input type="text" class="oak-search" placeholder="Search posts here">
				<span class="oak-search-icon ion-ios-search"></span>
				<div class="oak-search-results"></div>	
			</form>
		</div>								
	</header>
	

	<article class="oak-article {{post_class}}">
		<div class="oak-inner">
		<header>
			<h1 class="oak-article-title">{{title}}</h1>
			{{#if tags}}
			<div class="oak-article-tags ion-ios-grid-view-outline">
				{{tags separator=" / "}}
			</div>	
			{{/if}}
		</header>	
		
		<div class="oak-article-content">
			{{content}}
		</div>
		
		<footer class="oak-article-footer">
			<div class="oak-mobile-share oak-hide-on-desktop">
				<div class="oak-social-share">
					<span>Share</span>
					{{> social-share}}
				</div>
			</div>

			{{> previous-next-posts}}

			{{> post-author}}			
			
			{{> comments/disqus}}
			{{!> comments/facebook}}
		</footer>		
		</div>		
	</article>
	{{/post}}
	
	{{> footer}}	
</main>